h1 {
	font-size: large;
	color: #0F5499;
}
.param {
	font-weight: bold;
}
dt {
	font-weight: bold;
	font-size: small;
	margin-bottom: 1px;
}
dd {
	margin-bottom: 10px;
}
.code {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
